.menubar {
  background: $orange-background;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2vw;
  overflow: hidden;
  & h3 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    & span {
      font-family: "Dancing Script", cursive;
      font-optical-sizing: auto;
      font-weight: 700;
      padding-right: 1.5vw;
      font-size: 1.4rem;
    }
  }
}

.menubar_slider_div {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: $primary-blue;
}

.menubar_slider_div__close_btn {
  position: absolute;
  top: 2vw;
  right: 2vw;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  padding: 3px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 2px rgba(255, 255, 255, 0.564);
}

.menubar_slider__links_div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10vh 4vw;
  row-gap: 4vh;
}

.menubar_slider__links {
  color: white;
  font-size: 2rem;
}

.menubar__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}
