// @import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Baskervville SC", serif;
}

* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: rgb(255, 255, 253);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
}

#root {
  padding-top: 75px;
}

input:focus {
  outline: none;
}
